// COLOR VARIABLES
$--color-white: #fff;
$--color-black: #000;

$--color-font: #242b39;
$--color-background: #f9fafb;
$--color-btn_border: #e2e7ee;

// FONT VARIABLES
$--font-primary: "Inter", sans-serif;
$--box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
}

body {
    line-height: 1.6;
    font-family: $--font-primary;
    color: $--color-font;
    width: 100%;
    background-color: #ebebeb;
}
.container {
    max-width: 1597px;
    height: 912px;
    margin: 8rem auto;
}

.content {
    display: flex;
}
